body {
  padding: 50px;
  font: 24px Georgia, Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.actionIcon:hover {
    cursor: pointer;
}

.only-increase {
    color: #DCDCDC;
}

.top-buffer { margin-top:20px; }
.row {
    border: 1px solid;
    border-radius: 2px;
}

.mainArtist {


}

.featuredArtist {


}